.cell {
    height: 25px;
    width: 25px;
    text-align: center;
    border: 1px solid lightgray;
    background-color: grey;
}

.revealed {
    background-color: aliceblue;
}

.board:hover {
    cursor: pointer;
}